{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/"{% if page.url == '/' %} class="is-active" aria-current="page"{% endif %}>{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% assign nav_active = false %}
            {% if page.url == link.url %}
              {% assign nav_active = true %}
            {% elsif link.url == '/publications/' and page.collection == 'publications' %}
              {% assign nav_active = true %}
            {% elsif link.url == '/collabs/' and page.collection == 'collabs' %}
              {% assign nav_active = true %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}"{% if nav_active %} class="is-active" aria-current="{% if page.url == link.url %}page{% else %}location{% endif %}"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
