---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

{% comment %}
<style>
  body{
    background-image: url('{{ site.baseurl }}/images/user/Reardon_websiteProfile.jpg');


  }
</style>
{% endcomment %}

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {% unless page.url == '/' %}
      {% include reardon/research_areas.html mode='compact' %}
    {% endunless %}
    {% if page.publication_banner %}
      {% include reardon/publication_banner.html %}
    {% endif %}
    {% if page.url == '/' and page.research_areas %}
      {% include reardon/research_areas.html %}
    {% endif %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% comment %}
        {% include footer/custom.html %}
        {% endcomment %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
